.keyboard-area {
  position: absolute;
  top: 20vh;
  left: 5vw;
  right: 5vw;

  max-width: 1024px;
  padding: 24px;
  margin: 0 auto;

  display: block;

  @include font("Inter", 1.8rem, 500, normal, normal);
  text-align: center;
  color: #333333;

  border-radius: 2vw;
  background-color: rgba(255, 255, 255, 0.5);

  resize: none;
}